/*-----------------------------------------------------------------------------
Theme:
Description:
-----------------------------------------------------------------------------*/

/*Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

small {
  font-size: 80%;
}

/*Classes*/
.container {
  display: flex;
}

.title {
  display: flex;
  flex: 1 1 100%;
  height: 60px;
  flex-direction: row;
  background: black;
  text-decoration: none;
  justify-content: center;
}
