* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: black;
    padding: 10px;
}

.flex-container div {
    background-color: gainsboro;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}