* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

.title {
    display: flex;
    flex: 1 1 100%;
    height: 60px;
    flex-direction: row;
    background: black;
    text-decoration: none;
    justify-content: center;
    
}